body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u164_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u164_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u165 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u166 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u167 {
  position:absolute;
  left:18px;
  top:272px;
  width:29px;
  height:16px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:44px;
  top:223px;
  width:273px;
  height:22px;
}
#u169_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u170 {
  position:absolute;
  left:18px;
  top:298px;
  width:318px;
  height:1px;
}
#u171 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u172 {
  position:absolute;
  left:129px;
  top:118px;
  width:97px;
  height:95px;
}
#u173 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u174 {
  position:absolute;
  left:57px;
  top:268px;
  width:279px;
  height:25px;
}
#u174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u175 {
  position:absolute;
  left:18px;
  top:330px;
  width:113px;
  height:16px;
  color:#0099FF;
}
#u176 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u179 {
  position:absolute;
  left:-3px;
  top:640px;
  width:360px;
  height:44px;
}
#u180 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  position:absolute;
  left:250px;
  top:654px;
  width:15px;
  height:15px;
}
#u182 {
  position:absolute;
  left:4px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u183 {
  position:absolute;
  left:169px;
  top:654px;
  width:16px;
  height:16px;
}
#u184 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u185 {
  position:absolute;
  left:89px;
  top:653px;
  width:15px;
  height:17px;
}
#u186 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u187 {
  position:absolute;
  left:21px;
  top:658px;
  width:12px;
  height:7px;
}
#u188 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u189 {
  position:absolute;
  left:18px;
  top:366px;
  width:323px;
  height:42px;
  font-size:30px;
}
#u190 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u191 {
  position:absolute;
  left:18px;
  top:366px;
  width:323px;
  height:42px;
  font-size:30px;
}
#u192 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u193 {
  position:absolute;
  left:18px;
  top:34px;
  width:32px;
  height:32px;
}
#u194 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:616px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u196 {
  position:absolute;
  left:-3px;
  top:25px;
  width:360px;
  height:616px;
}
#u197 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u198 {
  position:absolute;
  left:-3px;
  top:459px;
  width:360px;
  height:182px;
}
#u199 {
  position:absolute;
  left:2px;
  top:83px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u200 {
  position:absolute;
  left:25px;
  top:485px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u202 {
  position:absolute;
  left:25px;
  top:525px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u204_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u204 {
  position:absolute;
  left:25px;
  top:565px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u205 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u206 {
  position:absolute;
  left:25px;
  top:605px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:32px;
}
#u208 {
  position:absolute;
  left:327px;
  top:34px;
  width:9px;
  height:32px;
}
#u209 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:32px;
}
#u210 {
  position:absolute;
  left:327px;
  top:34px;
  width:9px;
  height:32px;
}
#u211 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
