body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:357px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  overflow:hidden;
}
#u212_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u212_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:24px;
}
#u214 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u215 {
  position:absolute;
  left:18px;
  top:272px;
  width:43px;
  height:16px;
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u217 {
  position:absolute;
  left:44px;
  top:223px;
  width:273px;
  height:22px;
}
#u217_input {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:22px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:center;
  border-color:transparent;
  outline-style:none;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u218 {
  position:absolute;
  left:18px;
  top:298px;
  width:318px;
  height:1px;
}
#u219 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:95px;
}
#u220 {
  position:absolute;
  left:129px;
  top:118px;
  width:97px;
  height:95px;
}
#u221 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:71px;
  top:268px;
  width:155px;
  height:25px;
}
#u222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0099FF;
}
#u223 {
  position:absolute;
  left:18px;
  top:329px;
  width:71px;
  height:16px;
  color:#0099FF;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  position:absolute;
  left:247px;
  top:268px;
  width:70px;
  height:20px;
}
#u226 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  white-space:nowrap;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:44px;
}
#u229 {
  position:absolute;
  left:-3px;
  top:640px;
  width:360px;
  height:44px;
}
#u230 {
  position:absolute;
  left:2px;
  top:14px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u231 {
  position:absolute;
  left:250px;
  top:654px;
  width:15px;
  height:15px;
}
#u232 {
  position:absolute;
  left:4px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u233 {
  position:absolute;
  left:169px;
  top:654px;
  width:16px;
  height:16px;
}
#u234 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u235 {
  position:absolute;
  left:89px;
  top:653px;
  width:15px;
  height:17px;
}
#u236 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:8px;
}
#u237 {
  position:absolute;
  left:21px;
  top:658px;
  width:12px;
  height:7px;
}
#u238 {
  position:absolute;
  left:2px;
  top:-4px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 153, 0.349019607843137);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u239 {
  position:absolute;
  left:18px;
  top:366px;
  width:323px;
  height:42px;
  font-size:30px;
}
#u240 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:42px;
  background:inherit;
  background-color:rgba(102, 204, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:30px;
}
#u241 {
  position:absolute;
  left:18px;
  top:366px;
  width:323px;
  height:42px;
  font-size:30px;
}
#u242 {
  position:absolute;
  left:2px;
  top:3px;
  width:319px;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u244_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:616px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u244 {
  position:absolute;
  left:-3px;
  top:25px;
  width:360px;
  height:616px;
}
#u245 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:182px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u246 {
  position:absolute;
  left:-3px;
  top:459px;
  width:360px;
  height:182px;
}
#u247 {
  position:absolute;
  left:2px;
  top:83px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u248 {
  position:absolute;
  left:25px;
  top:485px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u249 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u250 {
  position:absolute;
  left:25px;
  top:525px;
  width:65px;
  height:19px;
  font-size:16px;
}
#u251 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u252_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u252 {
  position:absolute;
  left:25px;
  top:565px;
  width:97px;
  height:19px;
  font-size:16px;
}
#u253 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u254 {
  position:absolute;
  left:25px;
  top:605px;
  width:33px;
  height:19px;
  font-size:16px;
}
#u255 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:616px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.698039215686274);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u257 {
  position:absolute;
  left:-3px;
  top:24px;
  width:360px;
  height:616px;
}
#u258 {
  position:absolute;
  left:2px;
  top:300px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:151px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259 {
  position:absolute;
  left:48px;
  top:245px;
  width:259px;
  height:151px;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u261 {
  position:absolute;
  left:193px;
  top:366px;
  width:29px;
  height:16px;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#66FF00;
}
#u263 {
  position:absolute;
  left:250px;
  top:366px;
  width:29px;
  height:16px;
  color:#66FF00;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u265 {
  position:absolute;
  left:66px;
  top:298px;
  width:223px;
  height:32px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u267 {
  position:absolute;
  left:66px;
  top:340px;
  width:69px;
  height:16px;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:32px;
}
#u269 {
  position:absolute;
  left:327px;
  top:34px;
  width:9px;
  height:32px;
}
#u270 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:32px;
}
#u271 {
  position:absolute;
  left:327px;
  top:34px;
  width:9px;
  height:32px;
}
#u272 {
  position:absolute;
  left:2px;
  top:8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u273 {
  position:absolute;
  left:18px;
  top:34px;
  width:32px;
  height:32px;
}
#u274 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
